@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="hero-unit">
        <h1>Parallax Me</h1>
        <p>Please enter your name to see it parallaxed ben.</p>
        <form style="margin: 0px" method="post" action="/Name">
            <input type="text" name="NameIn" placeholder="Name..." />
            <input style="margin-bottom:10px" id="btn" type="submit" class="btn btn-primary" value="Submit" />
        </form>
    </div>
  </div>
</div>

@*<script type="text/javascript">
    $(document).ready(function () {
        $('#btn').hover(function () {
            var randomnumber = Math.floor(Math.random() * 501);
            $('#btn').css('margin', randomnumber + 'px');
        });
    })
</script>*@