@{
    Layout = "Shared/_Layout.cshtml";
    var model = Model;
    int x = 10;
    bool invert = true;
}
<div class="container-fluid">
  <div class="row-fluid">
    <div style="margin:200px" id="shell">            
    @foreach (var letter in model)
    {
        <h1 style="position:absolute; margin-left:70px; font-size:100px;" data-xrange="@x" data-yrange="@x" data-invert="@invert">@letter</h1>
        x += 145;
        if(invert)
        {
            invert = false;
        }
        else 
        {
            invert = true;
        }
    }
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#shell h1').plaxify()
        $.plax.enable()
    })
</script>